@import 'partials/custom';
@import 'partials/bootstrap';
@import 'partials/custom_mixins';

body {
  font-family: $primary-font;

}

a {
  @include jt-links-fancy;

}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font;

}

.active {
  color: $white;
  pointer-events: none;

}

.callout {
  color: $black;
  text-shadow: 1px 1px 2px $accent-color + 50%;

}

.wrapper {
  @include media-breakpoint-down(lg) {
    background: $white;

  }

  background: rgba($ghost, .3); //slight color offest
  width: 98%;

}

// nav
nav {
  .logo-title {
    color: $accent-color;
    font-size: $navbar-brand-font-size + .5rem;

  }
}

header {

  h1 {
    @include media-breakpoint-up(lg) {
      font-size: $h1-font-size + 1.25rem;

    }

    color: $ghost;
    text-shadow: 1px 1px 2px $accent-color;

  }

  .lead {
    color: $gray-200;

  }

  // glass
  @include hackyglass (
    $hacky-background-url: '../images/cake-bkg.png',
    $hacky-height: 250px, // for background
    $hacky-glass-height: 100%,
    $hacky-glass-width: 100%,
    $hacky-blur: 5px // works best 5 - 10
    // $hacky-color: rgba($green, .1)
    );

  .glass-back {
    @include media-breakpoint-up(xl) {
      height: 300px;
    }

  }

  .glass-front {
    @include media-breakpoint-up(lg) {
      left: 0;
      position: absolute;
    }

    padding: 25px 30px 0;

  }
}

// footer

footer {

  background: $gray-800;
  color: $primary-color-text;

  // clear defaults
  * {
    margin: 0;
    padding: 0;
  }


  li {
    display: inline;
    list-style: none;
    padding-right: 20px;

  }

}

// INDEX
// about

#about {

  p {
    @include media-breakpoint-up(lg) {
      font-size: $font-size-base + .25rem;
    }
  }

  .about-photo {

    @include media-breakpoint-up(sm) {
      box-shadow: 1px 1px 2px $gray-500;

    }

    @include media-breakpoint-up(md) {
      width: 100%;
    }

    width: 55%;

  }
}

// cards

#cards {
  .card-body {
    padding: 5px;
  }
}

// GALLERY
// gallery

#gallery {

  img {
    transition: .3s ease-in-out;

    &:hover {
      filter: drop-shadow(15px 15px 10px $gray-800);
    }
  }
}
